<!DOCTYPE html>
<html>

<%- include('../includes/head'); %>

<body>

    <div class="main-content">
        <%- include('../includes/elements/navigation'); %>

        <div class="page-content">
            <h1>Dashboard</h1>

		  <div class="button-group flex-left">
			  <%for (let i=0; i < tags.length; ++i) { %>
				<button id ="tag-button", class="button"><% artefacts.owner.length %></button>
			<% } %>
		  </div>

            <h2>My Artefacts</h2>
            <div id="DashboardGridMyArtefacts" class="dashboard-grid">
                <% if (artefacts.owner) { %>
                <% for (let i = 0; i < artefacts.owner.length; ++i) { %>
                <%- include('artefact', { artefact: artefacts.owner[i] }); %>
                <% }; %>
                <% }; %>

                <button id="PageButtonAddArtefact" class="dashboard-artefact page-action button-icon-noborder">
                    <i class="material-icons-outlined">add</i>
                    <p>Add New Artefact</p>
                </button>
            </div>

            <h2>Shared Artefacts</h2>
            <% if (artefacts.viewer && artefacts.viewer.length > 0) { %>
            <% let viewerUsers = artefacts.viewer.reduce((rv, x) => {
                    (rv[x.owner.display_name] = rv[x.owner.display_name] || []).push(x);
                    return rv;
                }, {}); %>
            <% let viewerUserKeys = Object.keys(viewerUsers); %>

            <% for (let i = 0; i < viewerUserKeys.length; ++i) { %>

            <h3><%= viewerUserKeys[i] %></h3>
            <div id="DashboardGridSharedArtefacts" class="dashboard-grid">
                <% for (let j = 0; j < viewerUsers[viewerUserKeys[i]].length; ++j) { %>
                <%- include('artefact', { artefact: viewerUsers[viewerUserKeys[i]][j] }); %>
                <% }; %>
            </div>

            <% }; %>
            <% } else { %>
            <p class="text-description">Artefacts that other users share with you will show up here.</p>
            <% }; %>
        </div>

        <%- include('../includes/dialogs/dialogAddArtefact'); %>
        <%- include('../includes/dialogs/dialogViewArtefact'); %>
        <%- include('../includes/dialogs/dialogAddViewers'); %>
        <%- include('../includes/dialogs/dialogEditArtefact'); %>
    </div>

    <script defer src="/js/dashboard.js"></script>
    <%- include('../includes/scripts'); %>

</body>

</html>
