<!DOCTYPE html>
<html>

<% include ../includes/head %>

<body>

	<div class="main-content">

        <% include ../includes/elements/navigation %>

        <div class="page-content">
            <h1><%= page.name %></h1>

            <div class="button-group flex-left">
                <a class="button" href="/">Back to Dashboard</a>
            </div>
            <input type="text" id="tagInput" onkeyup="filterTags()" placeholder="Select Tags">

		  <div class="button-group flex-left">
			  <% const test = [0,1,2,3] %>
			  <% for (let i = 0; i < 1; ++i) { %>
			     <button id ="tag", class="button"><%= artefact.uniquetags %></button>
			     <% }; %>
		  </div>


            <h2>Artefacts</h2>
            <div id="PageGridArtefacts" class="dashboard-grid">
                <% if (page && page.artefacts) { %>
                    <% for (let i = 0; i < page.artefacts.length; ++i) { %>
                        <button class="dashboard-page page-artefact button-icon-noborder"
                            data-page-id="<%= page._id %>" data-artefact-id="<%= page.artefacts[i]._id %>">
                            <i class="material-icons-outlined">photo</i>
                            <% if (page.artefacts[i].image) { %>
                                <img src="<%= page.artefacts[i].image %>" alt="<%= page.artefacts[i].name %>"/>
                            <% }; %>

                            <p class="dashboard-item-title"><%= page.artefacts[i].name %></p>
                        </button>
                    <% }; %>
                <% }; %>

                <button id="PageButtonAddArtefact" class="dashboard-page page-action button-icon-noborder">
                    <i class="material-icons-outlined">add</i>
                    <p>Add New Artefact</p>
                </button>
            </div>

            <button id="PageButtonManagePage" class="button">Manage Page</button>
        </div>

        <% include ../includes/dialogs/dialogManagePage %>
        <% include ../includes/dialogs/dialogViewArtefact %>
        <% include ../includes/dialogs/dialogEditArtefact %>
        <% include ../includes/dialogs/dialogAddArtefact %>

    </div>

    <script defer src="/js/page.js"></script>
    <% include ../includes/scripts %>

</body>

</html>
